@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-x: auto;
}

body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  @apply bg-custom-blue text-custom-brown;
}

@layer utilities {
  @keyframes fade-blur-white {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  40% {
    opacity: 1;
    backdrop-filter: blur(60px);
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.animate-fade-blur-white {
  animation: fade-blur-white 5s ease-in-out forwards;
}

  @keyframes fadeout-scale-opacity {
  0% {
    opacity: 1;
    transform: scale(1);
    backdrop-filter: blur(30px);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
    backdrop-filter: blur(0px);
  }
}

.animate-fadeout-scale-opacity {
  animation: fadeout-scale-opacity 3s ease-in-out forwards;
}

  @keyframes fadeout-blur {
    0% {
      opacity: 1;
      backdrop-filter: blur(30px);
    }
    100% {
      opacity: 0;
      backdrop-filter: blur(0px);
    }
  }

  .animate-fadeout-blur {
    animation: fadeout-blur 2.3s ease-in-out forwards;
  }

  .animate-fadeout-blur1 {
    animation: fadeout-blur 1.8s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in {
    animation: fade-in 0.7s ease-out both;
  }

  @keyframes wind-blow {
    0%, 100% {
      transform: rotate(-2deg) translateX(-3%);
    }
    50% {
      transform: rotate(2deg) translateX(3%);
    }
  }

  @keyframes wind-blow-rotated {
    0%, 100% {
      transform: rotate(180deg) rotate(-2deg) translateX(-3%);
    }
    50% {
      transform: rotate(180deg) rotate(2deg) translateX(3%);
    }
  }

  .animate-wind-blow {
    animation: wind-blow 7s ease-in-out infinite;
  }

  .animate-wind-blow-rotated {
    animation: wind-blow-rotated 8s ease-in-out infinite;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
