@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  @apply bg-custom-blue text-custom-brown;
}


@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in {
    animation: fade-in 0.7s ease-out both;
  }

  @keyframes wind-blow {
    0%, 100% {
      transform: rotate(-1deg) translateX(-1%);
    }
    50% {
      transform: rotate(2deg) translateX(1%);
    }
  }

  @keyframes wind-blow-rotated {
    0%, 100% {
      transform: rotate(180deg) rotate(-1deg) translateX(-1%);
    }
    50% {
      transform: rotate(180deg) rotate(2deg) translateX(1%);
    }
  }

  .animate-wind-blow {
    animation: wind-blow 10s ease-in-out infinite;
  }

  .animate-wind-blow-rotated {
    animation: wind-blow-rotated 10s ease-in-out infinite;
  }
}